Repository YungSeepferd/BulgarianGermanLearningApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: add comprehensive architectural redesign documentation
  data/vocab/screencapture-bulgaro-io-learn-bulgarian-2025-12-16-16_20_35.png
  data/vocab/screencapture-bulgaro-io-learn-bulgarian-basics-1-2025-12-16-16_20_46.png
  data/vocab/screencapture-bulgaro-io-learn-bulgarian-basics-2-2025-12-16-16_20_55.png
  data/vocab/screencapture-bulgaro-io-learn-bulgarian-basics-3-2025-12-16-16_21_09.png
  data/vocab/screencapture-bulgaro-io-learn-bulgarian-definite-articles-2025-12-16-16_21_16.png
  docs/ARCHITECTURAL_REDESIGN_VOCABULARY_LEARNING_MERGE.md
  docs/BULGARO_ANALYSIS/01_COURSE_OVERVIEW_LESSON_TREE.md
  docs/BULGARO_ANALYSIS/02_LESSON_PAGE_STRUCTURE.md
  docs/BULGARO_ANALYSIS_COMPREHENSIVE.md
  docs/COMPLETE_REDESIGN_SUMMARY.md
  docs/PHASE_1_IMPLEMENTATION_SPRINT.md
  docs/QUICK_START_REDESIGN_REFERENCE.md
  docs/REDESIGN_CHECKLIST_VISUAL_SUMMARY.md
  docs/WORD_TYPE_FIX_ANALYSIS.md
Due: prettier --write

feat(redesign): Phase 1 Day 1 - Database infrastructure and TypeScript types
  package.json
  pnpm-lock.yaml
  src/lib/db/idb.ts
  src/lib/db/mutations.ts
  src/lib/db/queries.ts
  src/lib/types/exercise.ts
  src/lib/types/learning-path.ts
  src/lib/types/lesson.ts
  src/lib/types/progress.ts
Due: prettier --write

docs: add Phase 1 progress tracking document
  docs/PHASE_1_PROGRESS.md
Due: prettier --write

docs: add getting started guide for redesign implementation
  docs/REDESIGN_GETTING_STARTED.md
Due: prettier --write

feat(redesign): Phase 1 Day 2-3 - Core Svelte 5 learning components
  .svelte-kit/types/route_meta_data.json
  docs/REDESIGN_GETTING_STARTED.md
  src/lib/components/learning/ExampleCard.svelte
  src/lib/components/learning/GrammarInfo.svelte
  src/lib/components/learning/LearningDashboard.svelte
  src/lib/components/learning/ProgressStats.svelte
  src/lib/components/learning/WordCard.svelte
  src/routes/test-dashboard/+page.svelte
Due: prettier --write

docs: update Phase 1 progress with Day 2-3 completion details
  docs/PHASE_1_PROGRESS.md
Due: prettier --write

feat(redesign): Phase 1 Day 4-5 - Learning path navigation components
  .svelte-kit/types/route_meta_data.json
  src/lib/components/learning/LessonList.svelte
  src/lib/components/learning/PathBrowser.svelte
  src/lib/components/learning/PathCard.svelte
  src/lib/components/learning/ProgressIndicator.svelte
  src/lib/db/idb.ts
  src/routes/test-dashboard/+page.svelte
  src/routes/test-navigation/+page.svelte
Due: prettier --write

docs: update Phase 1 progress with Day 4-5 completion
  docs/PHASE_1_PROGRESS.md
Due: prettier --write

feat(vocabulary): expand enrichment from 63 to 87 items (+38%)
  data/unified-vocabulary.json
  data/vocab/enrichment-output/a2-vocabulary-expansion.json
  data/vocab/enrichment-output/extracted-vocabulary.json
  data/vocab/enrichment-output/unique-a2-vocabulary.json
  scripts/merge-manual-vocabulary.mjs
Due: eslint --fix, prettier --write

docs(enrichment): Add strategic roadmap and action plans for 1,500-word A1 expansion
  A1_VOCABULARY_EXTRACTION_CHECKLIST.md
  ENRICHMENT_SCALE_OPPORTUNITY.md
  ENRICHMENT_STRATEGIC_ROADMAP.md
  IMMEDIATE_ENRICHMENT_ACTION_PLAN.md
Due: prettier --write

docs(enrichment): Add comprehensive strategic analysis and response framework
  ENRICHMENT_ANALYSIS_STRATEGIC_RESPONSE.md
Due: prettier --write

docs(enrichment): Add navigation hub for enrichment documentation suite
  ENRICHMENT_DOCS_NAVIGATION_HUB.md
Due: prettier --write

feat(vocabulary): Day 1 - Family & Relationships (+8 new items, 7 duplicates skipped)
  data/unified-vocabulary.json
  data/vocab/day-1-family-relationships.json
Due: prettier --write

feat(vocabulary): Complete Path B recovery - 119 → 1,033 items (68.9% of A1)
  data/backups/vocabulary-backup-2025-12-17T20-33-06-723Z.json
  data/unified-vocabulary.json
  scripts/migrate-backup-to-production.mjs
Due: eslint --fix, prettier --write

feat(vocab): Add A1 textbook vocabulary with auto-translation
  enrichment-output/a1-bulgarian-words-translated.json
  enrichment-output/a1-merge-ready.json
  package.json
  scripts/prepare-a1-merge.ts
  scripts/translate-a1-words.ts
  static/data/unified-vocabulary.json
Due: prettier --write

feat(audit): Add comprehensive responsive design testing & audit documentation
  docs/audit/RESPONSIVENESS_AUDIT_INDEX.md
  docs/audit/RESPONSIVENESS_AUDIT_REPORT.md
  docs/audit/RESPONSIVENESS_QUICK_REFERENCE.md
  docs/audit/RESPONSIVENESS_TESTING_PROCEDURES.md
  docs/audit/RESPONSIVENESS_VISUAL_SUMMARY.md
  tests/e2e/responsiveness-audit.spec.ts
Due: prettier --write

fix(types): remove unused import and fix version type mismatch
  src/lib/data/loader.ts
Due: none

fix(build): handle unseen prerender routes gracefully
  svelte.config.js
Due: none

fix(lint): remove trailing commas from test file
  tests/e2e/responsiveness-audit.spec.ts
Due: none

docs: comprehensive Phase 11 documentation for mobile testing and data validation
  docs/DATA_VALIDATION_GUIDE.md
  docs/PHASE_11_MOBILE_TESTING_PLAN.md
  docs/PHASE_11_TEST_COMMANDS.md
  docs/PROJECT_STATUS.md
Due: prettier --write

docs: add Phase 11 executive summary and next steps
  docs/PHASE_11_EXECUTIVE_SUMMARY.md
Due: prettier --write

docs: add Phase 11 documentation index and navigation guide
  docs/PHASE_11_DOCUMENTATION_INDEX.md
Due: prettier --write

test: Phase 11 launch - test tracking and first session results
  PHASE_11_SESSION_1_RESULTS.md
  PHASE_11_TEST_RESULTS.md
Due: prettier --write

fix(a11y): improve SwipeableCard accessibility with dynamic aria-label
  src/lib/components/dashboard/SwipeableCard.svelte
Due: none

fix(i18n): add missing 'hide' translation key for German and Bulgarian
  static/translations/bg.json
  static/translations/de.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})
  prettier --write: ((((any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})) or (any of: assets/scss/**/*.scss)) or (any of: layouts/**/*.html)) or (any of: *.{md,json})
  stylelint --fix: any of: assets/scss/**/*.scss
