Repository YungSeepferd/BulgarianGermanLearningApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test setup and cleanup for svelte 5 migration
  svelte-frontend/data/vocabulary.json
  svelte-frontend/src/lib/api/vocabulary.ts
  svelte-frontend/src/lib/components/EnhancedFlashcard.svelte
  svelte-frontend/src/lib/components/ErrorBoundary.svelte
  svelte-frontend/src/lib/components/Flashcard.svelte
  svelte-frontend/src/lib/components/GradeControls.svelte
  svelte-frontend/src/lib/components/LoadingSpinner.svelte
  svelte-frontend/src/lib/components/MarkdownLayout.svelte
  svelte-frontend/src/lib/components/ProgressIndicator.svelte
  svelte-frontend/src/lib/stores/flashcard.ts
  svelte-frontend/src/lib/stores/rune-based-flashcard.ts
  svelte-frontend/src/lib/types/index.ts
  svelte-frontend/src/lib/utils/common.ts
  svelte-frontend/src/lib/utils/error-handling.ts
  svelte-frontend/src/lib/utils/performance.ts
  svelte-frontend/src/lib/utils/spaced-repetition.ts
  svelte-frontend/src/lib/utils/validation.ts
  svelte-frontend/src/lib/utils/virtual-scrolling.ts
  svelte-frontend/src/lib/utils/vocabulary-performance.ts
  svelte-frontend/src/routes/api/vocabulary/metadata/+server.ts
  svelte-frontend/src/routes/api/vocabulary/search/+server.ts
  svelte-frontend/src/routes/practice/+page.svelte
  svelte-frontend/svelte.config.js
  svelte-frontend/tests/components/Flashcard.spec.ts
  svelte-frontend/tests/components/Flashcard.test.ts
  svelte-frontend/tests/components/GradeControls.spec.ts
  svelte-frontend/tests/components/LoadingSpinner.spec.ts
  svelte-frontend/tests/components/ProgressIndicator.spec.ts
  svelte-frontend/tests/components/SessionStats.spec.ts
  svelte-frontend/tests/e2e/user-workflows.spec.ts
  svelte-frontend/tests/integration/practice-session.spec.ts
  svelte-frontend/tests/integration/virtual-scrolling.spec.ts
  svelte-frontend/tests/performance/flashcard-performance.spec.ts
  svelte-frontend/tests/setup.ts
  svelte-frontend/tests/setup/coverage-setup.ts
  svelte-frontend/tests/test-utils.ts
  svelte-frontend/tests/utils/vocabulary-performance.test.ts
  svelte-frontend/tests/visual/visual-regression.spec.ts
  svelte-frontend/vite.config.ts
Due: prettier --write

svelte errors for testing
  svelte-frontend/coverage/base.css
  svelte-frontend/coverage/block-navigation.js
  svelte-frontend/coverage/coverage-final.json
  svelte-frontend/coverage/favicon.png
  svelte-frontend/coverage/prettify.css
  svelte-frontend/coverage/prettify.js
  svelte-frontend/coverage/sort-arrow-sprite.png
  svelte-frontend/coverage/sorter.js
  svelte-frontend/src/lib/components/ProgressIndicator.svelte
  svelte-frontend/src/lib/components/SessionStats.svelte
  svelte-frontend/src/lib/components/VirtualList.svelte
  svelte-frontend/src/routes/+layout.svelte
  svelte-frontend/svelte.config.js
  svelte-frontend/tests/accessibility/accessibility.spec.ts
  svelte-frontend/tests/components/ErrorBoundary.spec.ts
  svelte-frontend/tests/components/Flashcard.spec.ts
  svelte-frontend/tests/components/GradeControls.spec.ts
  svelte-frontend/tests/components/LoadingSpinner.spec.ts
  svelte-frontend/tests/debug-flashcard.test.ts
  svelte-frontend/tests/debug-flashcard2.test.ts
  svelte-frontend/tests/debug-flashcard3.test.ts
  svelte-frontend/tests/flashcard-logic.test.ts
  svelte-frontend/tests/integration/virtual-scrolling.spec.ts
  svelte-frontend/tests/playwright-utils.ts
  svelte-frontend/tests/setup.ts
  svelte-frontend/tests/simple-flashcard.test.ts
  svelte-frontend/tests/test-utils.ts
  svelte-frontend/tests/visual/visual-regression.spec.ts
Due: prettier --write

fix: update CI pipeline for Svelte 5 compatibility
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/technical-debt-monitor.yml
  .tsbuildinfo
  CLEANUP_SUMMARY.md
  assets/js/modules/api-client.ts
  assets/js/modules/connectivity-manager.ts
  assets/js/modules/loading-ui-manager.ts
  assets/js/modules/network-manager.ts
  assets/js/modules/practice-page.ts
  assets/js/modules/vocabulary-manager.ts
  assets/js/types/vocabulary-types.ts
  ci-simulation-results.json
  dependency-resolution-implementation.md
  dependency-validation-results.json
  diagnostic-report.md
  docs/PHASE1_CRITICAL_FIXES_PLAN.md
  docs/PHASE1_IMPLEMENTATION_GUIDE.md
  docs/TECHNICAL_DEBT_REMEDIATION_STRATEGY.md
  docs/TECH_DEBT.md
  docs/ci-pipeline-svelte5-fix.md
  final-remediation-plan.md
  remediation-plan.md
  scripts/generate-pr-comment.js
  scripts/generate-weekly-report.js
  scripts/local-dependency-sync.js
  scripts/simulate-ci.js
  scripts/technical-debt-monitor.js
  scripts/validate-dependencies.js
  technical-debt-history.json
  technical-debt-report.html
  technical-debt-report.json
  tsconfig.json
  validation-summary.md
Due: eslint --fix, prettier --write

feat: Update test suite for Svelte 5 compatibility
  svelte-frontend/.github/workflows/ci.yml
  svelte-frontend/.github/workflows/playwright.yml
  svelte-frontend/package-lock.json
  svelte-frontend/package.json
  svelte-frontend/playwright-ct.config.ts
  svelte-frontend/tests/components/ErrorBoundary.spec.ts
  svelte-frontend/tests/components/Flashcard.test.ts
  svelte-frontend/tests/flashcard-logic.test.ts
  svelte-frontend/tests/performance/flashcard-utils-performance.spec.ts
  svelte-frontend/tests/setup.ts
  svelte-frontend/tests/simple-flashcard.test.ts
  svelte-frontend/tests/svelte5-test-utils.ts
  svelte-frontend/vite.component-test.config.ts
  svelte-frontend/vitest.config.ts
Due: prettier --write

feat: enhance Flashcard component and expand test coverage
  .github/workflows/ci.yml
  ci-simulation-results.json
  docs/testing/SVELTE5_TESTING_ROADMAP.md
  scripts/simulate-ci.js
  svelte-frontend/src/lib/components/Flashcard.svelte
  svelte-frontend/tests/components/ErrorBoundary.spec.ts
  svelte-frontend/tests/components/Flashcard.spec.ts
  svelte-frontend/tests/components/Flashcard.test.ts
  svelte-frontend/tests/components/GradeControls.spec.ts
  svelte-frontend/tests/debug-gradecontrols.test.ts
  svelte-frontend/tests/setup.ts
  svelte-frontend/tests/svelte5-test-utils.ts
  svelte-frontend/tests/test-utils.ts
Due: eslint --fix, prettier --write

Push
  ci-simulation-results.json
  svelte-frontend/src/lib/components/LoadingSpinner.svelte
Due: prettier --write

UPdate
  ci-simulation-results.json
Due: prettier --write

update
  ci-simulation-results.json
Due: prettier --write

feat: Add comprehensive CI/CD pipeline with Jest and Playwright testing
  .github/workflows/deploy-optimized.yml
  docs/ci-cd-optimization.md
Due: prettier --write

fix: Update GradeControls tests for Svelte 5 runes compatibility
  svelte-frontend/tests/components/GradeControls.spec.ts
Due: none

Update README.md with comprehensive project information
  README.md
Due: prettier --write

UPdate
  .svelte-kit/tsconfig.json
  .svelte-kit/types/route_meta_data.json
  svelte-frontend/.svelte-kit/ambient.d.ts
  svelte-frontend/.svelte-kit/generated/client/app.js
  svelte-frontend/.svelte-kit/generated/client/matchers.js
  svelte-frontend/.svelte-kit/generated/client/nodes/0.js
  svelte-frontend/.svelte-kit/generated/client/nodes/1.js
  svelte-frontend/.svelte-kit/generated/client/nodes/2.js
  svelte-frontend/.svelte-kit/generated/client/nodes/3.js
  svelte-frontend/.svelte-kit/generated/client/nodes/4.js
  svelte-frontend/.svelte-kit/generated/client/nodes/5.js
  svelte-frontend/.svelte-kit/generated/root.js
  svelte-frontend/.svelte-kit/generated/root.svelte
  svelte-frontend/.svelte-kit/generated/server/internal.js
  svelte-frontend/.svelte-kit/non-ambient.d.ts
  svelte-frontend/.svelte-kit/tsconfig.json
  svelte-frontend/.svelte-kit/types/route_meta_data.json
  svelte-frontend/.svelte-kit/types/src/routes/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/chunk/[chunkName]/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/due/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/filtered/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/metadata/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/api/vocabulary/search/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/lessons/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/lessons/[slug]/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/practice/$types.d.ts
  svelte-frontend/.svelte-kit/types/src/routes/practice/proxy+page.ts
Due: prettier --write

feat: final deployment configuration for GitHub Pages
  .github/workflows/deploy.yml
  .husky/pre-push
  scripts/simulate-ci.js
Due: eslint --fix, prettier --write

Fix pre-push hook script for ES modules
  scripts/simulate-ci.js
Due: eslint --fix, prettier --write

Fix linter errors and remove console statements
  src/lib/data/db.ts
  src/lib/state/app.svelte.ts
  src/lib/utils/localStorage.ts
Due: none

Fix linter errors and handle unused variables in catch blocks
  src/lib/data/db.ts
  src/lib/state/app.svelte.ts
  src/lib/utils/localStorage.ts
Due: none

Fix type errors and linting issues
  src/lib/data/db.ts
  src/lib/data/loader.ts
  src/lib/state/app.svelte.ts
  src/lib/types/env.d.ts
  src/lib/utils/localStorage.ts
  src/routes/practice/+page.svelte
Due: none

Fix type errors and linting issues
  .eslintrc.json
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/components/TandemPractice.svelte
  src/lib/components/TestCard.svelte
  src/lib/data/db.svelte.ts
  src/lib/state/app.svelte.ts
  src/routes/practice/+page.svelte
  src/routes/vocabulary/+page.svelte
Due: prettier --write

Fix type errors, linting issues and update tests
  tests/unit/appState.test.ts
  tests/unit/dataLoader.test.ts
  vite.config.js
Due: none

Add explicit permissions to GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/production.yml
Due: none

CI update
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/production.yml
  playwright-report/index.html
  test-results/junit.xml
  test-results/results.json
Due: prettier --write

Finalize production readiness: build verification, test completion, and documentation updates
  CURRENT_WORK_PLAN.md
  NEXT_STEPS_PLAN.md
  README.md
  docs/ROADMAP.md
  package-lock.json
  playwright-report/index.html
  src/lib/components/SearchList.svelte
  src/lib/components/TandemPractice.svelte
  src/lib/data/loader.ts
  src/lib/state/app.svelte.ts
  src/lib/types/vocabulary.ts
  test-results/junit.xml
  test-results/results.json
  tests/unit/appState.test.ts
  tests/unit/dataLoader.test.ts
  vite.config.ts.backup
Due: prettier --write

Fix linting errors: rename unused variable and remove duplicate import
  src/lib/components/TandemPractice.svelte
  src/lib/state/app.svelte.ts
Due: none

Finalize production readiness: build verification, test completion, and documentation updates
  src/lib/components/TandemPractice.svelte
  src/lib/data/loader.ts
  src/lib/state/app.svelte.ts
Due: none

Fix test mock configuration for LocalStorageManager static methods
  tests/unit/appState.test.ts
  tests/unit/dataLoader.test.ts
Due: none

Update documentation to reflect successful code push and current project status
  CURRENT_WORK_PLAN.md
  NEXT_STEPS_PLAN.md
  playwright-report/index.html
  test-results/junit.xml
  test-results/results.json
Due: prettier --write

Update CI/CD pipeline: Enhanced CI simulation, updated practice interface, improved E2E tests
  .github/workflows/ci.yml
  CURRENT_WORK_PLAN.md
  docs/ROADMAP.md
  playwright-report/index.html
  playwright.config.ts
  scripts/simulate-ci.js
  src/routes/practice/+page.svelte
  test-results/.last-run.json
  test-results/junit.xml
  test-results/results.json
  tests/e2e/practice.test.ts
Due: eslint --fix, prettier --write

Fix E2E test stability: Disable animations in CI mode, improve selectors and waiting strategies
  playwright-report/index.html
  scripts/simulate-ci.js
  src/lib/components/TandemPractice.svelte
  src/lib/components/TandemToggle.svelte
  test-results/.last-run.json
  test-results/junit.xml
  test-results/results.json
  tests/e2e/practice.test.ts
Due: eslint --fix, prettier --write

Fix TypeScript errors: Use bracket notation for environment variable access
  ci-simulation-results.json
  src/lib/components/TandemPractice.svelte
  src/lib/components/TandemToggle.svelte
Due: prettier --write

Update documentation: Reflect CI/CD pipeline completion and 75% E2E test success rate
  CURRENT_WORK_PLAN.md
  NEXT_STEPS_PLAN.md
  ci-simulation-results.json
  playwright-report/index.html
  test-results/.last-run.json
  test-results/junit.xml
  test-results/results.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})
  prettier --write: ((((any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})) or (any of: assets/scss/**/*.scss)) or (any of: layouts/**/*.html)) or (any of: *.{md,json})
  stylelint --fix: any of: assets/scss/**/*.scss
