Repository YungSeepferd/BulgarianGermanLearningApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: Enhance Practice Interface with improved button selectors and timeout adjustments
  .github/workflows/ci.yml
  ci-simulation-results.json
  docs/PHASE_3_DATA_ARCHITECTURE.md
  docs/PHASE_4_UI_IMPLEMENTATION.md
  docs/PHASE_5_TESTING_QA.md
  docs/PHASE_6_CICD_DEPLOYMENT.md
  docs/STRATEGIC_ARCHITECTURE.md
  package.json
  playwright-report/index.html
  playwright.config.ts
  src/lib/components/SearchList.svelte
  src/lib/components/TandemPractice.svelte
  src/lib/data/db.svelte.ts
  src/lib/data/loader.ts
  src/lib/schemas/vocabulary.ts
  static/logo/logo-icon.svg
  static/logo/logo-text.svg
  test-results/.last-run.json
  test-results/junit.xml
  test-results/results.json
  tests/e2e/practice.test.ts
  tests/unit/dataLoader.test.ts
  tests/unit/setup.ts
  vite.config.js
Due: prettier --write

feat(ci): implement comprehensive CI/CD pipeline and testing strategy
  tests/unit/dataLoader.test.ts
  vite.config.js
Due: none

fix(e2e): update baseURL for production build
  playwright.config.ts
Due: none

chore(ci): disable blocking e2e tests and add vitest component proof of concept
  playwright-report/index.html
  playwright.config.ts
  scripts/simulate-ci.js
  test-results/.last-run.json
  test-results/junit.xml
  test-results/results.json
  tests/components/TandemPractice.test.ts
  tests/unit/setup.ts
  vite.config.js
Due: eslint --fix, prettier --write

chore(ci): disable local accessibility tests to unblock push
  scripts/simulate-ci.js
Due: eslint --fix, prettier --write

Cisimulationfix
  ci-simulation-results.json
  playwright-report/index.html
Due: prettier --write

chore: update CI simulation results and clean up report files
  playwright-ct-simple.config.ts
  playwright-ct.config.ts
  playwright.config.ts
  tests/e2e/practice.test.ts
Due: none

chore: enforce pnpm, add roo rules, and update project configuration
  .github/workflows/ci.yml
  .gitignore
  .roo/rules/10-package-manager.md
  .roo/rules/20-tech-stack.md
  .roo/rules/30-workflow.md
  .roo/rules/90-behavior.md
  .svelte-kit/types/route_meta_data.json
  DESIGN_CONCEPT.md
  ROADMAP_DETAILED.md
  ci-simulation-results.json
  docs/ARCHITECTURE.md
  docs/PHASE_5_TESTING_QA.md
  docs/PHASE_6_CICD_DEPLOYMENT.md
  package.json
  pnpm-lock.yaml
  scripts/migrate-vocabulary.js
  scripts/simulate-ci.js
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/components/flashcard/QuizController.svelte
  src/lib/schemas/vocabulary.ts
  src/lib/state/session.svelte.ts
  src/lib/utils/confetti.ts
  src/routes/+page.svelte
  src/routes/learn/+page.svelte
  static/data/vocabulary-unified.json
  tests/components/TandemPractice.test.ts
  tests/unit/setup.ts
  vite.config.js
Due: eslint --fix, prettier --write

fix: lint errors and update configuration
  ci-simulation-results.json
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/state/session.svelte.ts
  src/routes/+page.svelte
  src/routes/learn/+page.svelte
Due: prettier --write

fix: resolve typescript errors and unused vars
  ci-simulation-results.json
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/components/flashcard/QuizController.svelte
  src/lib/state/session.svelte.ts
Due: prettier --write

fix: update unit tests to match new vocabulary structure
  ci-simulation-results.json
  tests/unit/dataLoader.test.ts
Due: prettier --write

feat: add rich context data and audio support to vocabulary items
  ROADMAP_DETAILED.md
  ci-simulation-results.json
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/components/gamification/LevelUpModal.svelte
  src/lib/data/vocabulary.json
  src/lib/state/session.svelte.ts
  src/routes/learn/+page.svelte
Due: prettier --write

feat: add rich context data and audio support to vocabulary items and address linting errors
  ci-simulation-results.json
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/data/loader.ts
  src/lib/schemas/vocabulary.ts
  src/lib/state/app.svelte.ts
  src/lib/state/session.svelte.ts
  src/lib/utils/confetti.ts
  src/routes/learn/+page.svelte
Due: prettier --write

fix: resolve linting issues
  ci-simulation-results.json
  src/lib/components/gamification/LevelUp.svelte
  src/lib/state/session.svelte.ts
  src/routes/learn/+page.svelte
Due: prettier --write

fix: resolve linting issues
  ci-simulation-results.json
  src/lib/state/session.svelte.ts
  src/routes/learn/+page.svelte
Due: prettier --write

fix: resolve linting and type-checking issues
  ci-simulation-results.json
  src/lib/components/TandemPractice.svelte
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/components/gamification/LevelUpModal.svelte
Due: prettier --write

fix: resolve final linting issue
  ci-simulation-results.json
  src/lib/components/gamification/LevelUpModal.svelte
Due: prettier --write

fix: resolve onclick syntax and final linting issues
  ci-simulation-results.json
  src/lib/components/flashcard/FlashCard.svelte
  src/lib/components/gamification/LevelUpModal.svelte
Due: prettier --write

fix: address accessibility warnings in LevelUpModal
  ci-simulation-results.json
  src/lib/components/gamification/LevelUpModal.svelte
Due: prettier --write

fix: resolve final accessibility warning in LevelUpModal
  ci-simulation-results.json
  src/lib/components/gamification/LevelUpModal.svelte
Due: prettier --write

brokenversion
  .svelte-kit/types/route_meta_data.json
  ci-simulation-results.json
  components.json
  messages/de.json
  messages/en.json
  package.json
  pnpm-lock.yaml
  src/app.css
  src/app.html
  src/lib/components/ContextCard.svelte
  src/lib/data/vocabulary.ts
  src/lib/game.svelte.ts
  src/lib/schemas/voccard.ts
  src/lib/utils.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
  src/routes/+page.svelte
  tailwind.config.js
  vite.config.ts
Due: prettier --write

Update dependencies and fix Svelte 5 compatibility issues
  ci-simulation-results.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix linting errors in ContextCard.svelte and layout.svelte
  ci-simulation-results.json
  src/lib/components/ContextCard.svelte
  src/routes/+layout.svelte
Due: prettier --write

Fix the syntax for rendering children in layout.svelte
  ci-simulation-results.json
  src/routes/+layout.svelte
Due: prettier --write

Fix linting and type safety issues with ContextCard.svelte
  ci-simulation-results.json
  src/lib/components/ContextCard.svelte
Due: prettier --write

Fix the aria-label syntax issue
  ci-simulation-results.json
  src/lib/components/ContextCard.svelte
Due: prettier --write

refactor(svelte): modernize event handling in TandemPractice
  ci-simulation-results.json
  docs/SVELTE_5_COMPONENT_GUIDE.md
  src/lib/components/TandemPractice.svelte
  src/lib/components/ui/dialog/dialog-close.svelte
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-footer.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
  src/lib/components/ui/dialog/dialog-overlay.svelte
  src/lib/components/ui/dialog/dialog-portal.svelte
  src/lib/components/ui/dialog/dialog-title.svelte
  src/lib/components/ui/dialog/dialog-trigger.svelte
  src/lib/components/ui/dialog/dialog.svelte
  src/lib/components/ui/dialog/index.ts
Due: prettier --write

revert: Revert TandemPractice.svelte to pre-refactor state
  .eslintrc.json
  ci-simulation-results.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/simulate-ci.js
  src/lib/components/ContextCard.svelte
  src/lib/components/ui/button/button.svelte
  src/lib/components/ui/button/index.ts
  src/lib/components/ui/dialog/dialog-close.svelte
  src/lib/components/ui/dialog/dialog-description.svelte
  src/lib/components/ui/dialog/dialog-footer.svelte
  src/lib/components/ui/dialog/dialog-header.svelte
  src/lib/components/ui/dialog/dialog-title.svelte
  src/lib/components/ui/dialog/dialog-trigger.svelte
  src/lib/components/ui/dialog/dialog.svelte
  src/lib/data/loader.ts
Due: eslint --fix, prettier --write

feat: comprehensive update for production deployment readiness
  ci-simulation-results.json
  scripts/clean-vocabulary.ts
  scripts/migrate-vocabulary.ts
  src/lib/components/ui/dialog/dialog-content.svelte
  src/lib/components/ui/dialog/dialog-trigger.svelte
  src/lib/components/ui/dialog/dialog.svelte
  src/lib/schemas/lesson.ts
  tests/components/flashcard/FlashCard.test.ts
  tests/components/ui/dialog/Dialog.test.ts
  tests/components/ui/dialog/DialogWrapper.test.svelte
Due: prettier --write

feat(ci-cd): implement comprehensive deployment strategy
  .github/ISSUE_TEMPLATE/deployment_setup.md
  .github/workflows/deployment.yml
  CODEOWNERS
  docs/ci-cd/DEPLOYMENT.md
Due: prettier --write

fix: update timestamps and improve code formatting across multiple files
  ci-simulation-results.json
  scripts/migrate-vocabulary.js
  scripts/migrate-vocabulary.ts
  scripts/vocabulary-migration/deduplication-utils.ts
  src/lib/components/SearchList.svelte
  src/lib/schemas/unified-vocabulary.js
  src/lib/types/vocabulary.d.ts
  src/lib/types/vocabulary.ts
  tests/unit/lesson-generation/template-renderer.test.ts
Due: eslint --fix, prettier --write

docs: add comprehensive code quality cleanup plan
  .github/ISSUE_TEMPLATE/code_quality_cleanup.md
  docs/development/CODE_QUALITY_CLEANUP_PLAN.md
Due: prettier --write

chore: Update migration scripts and test files
  ci-simulation-results.json
  debug-enhanced-lesson.ts
  debug-template.ts
  scripts/migrate-vocabulary.ts
  scripts/types/vocabulary-types.d.ts
  scripts/types/vocabulary-types.ts
  scripts/vocabulary-migration/category-utils.ts
  scripts/vocabulary-migration/deduplication-utils.ts
  scripts/vocabulary-migration/merging-utils.ts
  scripts/vocabulary-migration/migration-script.ts
  scripts/vocabulary-migration/test-migration.ts
  scripts/vocabulary-migration/test-transformation.ts
  scripts/vocabulary-migration/test-unified-vocabulary.ts
  scripts/vocabulary-migration/validation-utils.ts
  tests/unit/appState.test.ts
Due: prettier --write

chore: Update CI simulation results
  ci-simulation-results.json
Due: prettier --write

test: pre-push hook verification
  test-pre-push.txt
Due: none

fix: remove problematic pre-push hook that was causing hangs
  .husky/pre-push
  scripts/simulate-ci.js
  scripts/simulate-ci.js.backup
  src/lib/utils/localStorage.ts
  test-pre-push.txt
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})
  prettier --write: ((((any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})) or (any of: assets/scss/**/*.scss)) or (any of: layouts/**/*.html)) or (any of: *.{md,json})
  stylelint --fix: any of: assets/scss/**/*.scss
