Repository YungSeepferd/BulgarianGermanLearningApp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Phase 1.2: Accessibility Compliance - ARIA, keyboard nav, focus styles
  src/lib/components/Flashcard.svelte
  src/routes/learn/[id]/+page.svelte
Due: none

feat(data): enrich verbs b21-50 with conjugation tables
  data/unified-vocabulary.json
  enrichment-output/batch-21-50-verb-enrichment.json
  enrichment-output/verbs-b21-50-list.json
  scripts/enrich-verbs-wiktionary.mjs
  scripts/extract-verbs-b21-50.mjs
  scripts/validate-conjugations.mjs
  src/lib/data/unified-vocabulary.json
  static/data/unified-vocabulary.json
Due: eslint --fix, prettier --write

feat(data): enrich adjectives b21-50 with comparative forms
  data/unified-vocabulary.json
  enrichment-output/adjectives-b21-50-list.json
  enrichment-output/batch-21-50-adjective-enrichment.json
  scripts/enrich-adjectives-wiktionary.mjs
  scripts/extract-adjectives-b21-50.mjs
  scripts/import-enrichment.mjs
Due: eslint --fix, prettier --write

fix(types): resolve TypeScript errors in search service
  src/lib/services/search.ts
Due: none

docs: update project status to Phase 7 complete
  INDEX.md
  docs/PROJECT-STATUS-DEC16.md
Due: prettier --write

fix(build): resolve lucide-svelte runes mode error
  package.json
  pnpm-lock.yaml
  svelte.config.js
  vite.config.ts
Due: prettier --write

fix(deploy): enable prerendering for static adapter and disable for dynamic routes
  src/routes/+layout.ts
  src/routes/learn/[id]/+page.ts
Due: none

docs: complete Phase 7-10 execution plan
  docs/PHASE_7_10_EXECUTION_PLAN.md
Due: prettier --write

docs: update copilot instructions to prioritize docs folder scanning
  .github/copilot-instructions.md
Due: prettier --write

fix(learn): finalize Learn tab review and polish
  docs/PROJECT_STATUS.md
  docs/reports/PHASE_7_LEARN_TAB_COMPLETION_SUMMARY.md
  src/lib/components/Flashcard.svelte
  src/routes/learn/[id]/+page.svelte
  src/routes/learn/[id]/components/DashboardTabs.svelte
Due: prettier --write

fix: implement all three critical UI/UX improvements for MVP deployment
  src/lib/components/ui/VocabularyCard.svelte
  src/routes/learn/[id]/components/ExternalLinksPanel.svelte
Due: none

fix(deployment): use build:gh-pages to include GitHub Pages base path
  .github/workflows/deploy.yml
Due: none

fix: ensure base path configuration for GitHub Pages deployment
  package.json
  svelte.config.js
Due: prettier --write

fix(routing): add base path to all client-side navigation
  .github/copilot-instructions.md
  .playwright-mcp/live-site-homepage.png
  .playwright-mcp/vocab-page-after-404.png
  AGENTS.md
  BUTTON_FUNCTIONALITY_VERIFICATION.md
  COMPREHENSIVE_TESTING_PLAN.md
  CRITICAL_ISSUES_AND_FIXES.md
  DEPLOYMENT_DOCUMENTATION_INDEX.md
  DEPLOYMENT_FINAL_SUMMARY.md
  DEPLOYMENT_READINESS_CHECKLIST.md
  END_TO_END_DEPLOYMENT_GUIDE.md
  FINAL_STATUS_REPORT.md
  FIXES_COMPLETE_VERIFICATION_READY.md
  IMPLEMENTATION_SUMMARY.md
  QUICK_VERIFICATION_CHECKLIST.md
  TESTING_AND_ARCHITECTURE_ACTION_PLAN.md
  TESTING_DOCUMENTATION_INDEX.md
  TESTING_EXECUTIVE_SUMMARY.md
  TESTING_QUICK_REFERENCE.md
  TESTING_VISUAL_GUIDE.md
  VERIFICATION_AND_DEPLOYMENT_INDEX.md
  VERIFICATION_READY_START_HERE.md
  VERIFICATION_REPORT.md
  ci-simulation-results.json
  data/unified-vocabulary-backup-2025-12-16-2.json
  data/unified-vocabulary-backup-2025-12-16-3.json
  data/unified-vocabulary-backup-2025-12-16.json
  docs/DATA_QUALITY_SUMMARY.md
  docs/GERMAN_BULGARIAN_GRAMMAR_GUIDE.md
  docs/MANUAL_CLASSIFICATION_REPORT.md
  docs/reports/COMPREHENSIVE_MANUAL_TEST_REPORT.md
  docs/reports/DEPLOYMENT_PATH_C_COMPLETION.md
  fix-final-36-items.ts
  scripts/analyze-vocabulary-grammar.ts
  scripts/classify-remaining-phrases.ts
  scripts/fix-phrase-partOfSpeech.ts
  src/lib/data/unified-vocabulary.json
  src/routes/learn/+page.svelte
  src/routes/learn/[id]/+page.svelte
  src/routes/vocabulary/+page.svelte
Due: prettier --write

fix: resolve Vite module externalization and accessibility test script errors
  .github/workflows/accessibility.yml
  src/lib/data/loader.ts
Due: none

docs: add comprehensive CI/CD fixes documentation
  docs/CICD_QUICK_REFERENCE.md
  docs/CI_CD_FIXES_SUMMARY.md
Due: prettier --write

docs: add comprehensive final status report for CI/CD fixes
  docs/CICD_FINAL_STATUS.md
Due: prettier --write

docs: add session completion summary
  docs/SESSION_COMPLETION_SUMMARY.md
Due: prettier --write

fix: correct word type classifications and article generation logic
  data/unified-vocabulary.json
  src/lib/data/unified-vocabulary.json
  src/lib/utils/formatGerman.ts
  static/data/unified-vocabulary.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})
  prettier --write: ((((any of: assets/js/**/*.{js,mjs}) or (any of: scripts/**/*.{js,mjs})) or (any of: assets/scss/**/*.scss)) or (any of: layouts/**/*.html)) or (any of: *.{md,json})
  stylelint --fix: any of: assets/scss/**/*.scss
